@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Black"), local("ProductSans-Black"),
    url("./ProductSans-Black.woff2") format("woff2"),
    url("./ProductSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Black Italic"), local("ProductSans-BlackItalic"),
    url("./ProductSans-BlackItalic.woff2") format("woff2"),
    url("./ProductSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Bold"), local("ProductSans-Bold"),
    url("./ProductSans-Bold.woff2") format("woff2"),
    url("./ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Bold Italic"), local("ProductSans-BoldItalic"),
    url("./ProductSans-BoldItalic.woff2") format("woff2"),
    url("./ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Light"), local("ProductSans-Light"),
    url("./ProductSans-Light.woff2") format("woff2"),
    url("./ProductSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Italic"), local("ProductSans-Italic"),
    url("./ProductSans-Italic.woff2") format("woff2"),
    url("./ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Light Italic"), local("ProductSans-LightItalic"),
    url("./ProductSans-LightItalic.woff2") format("woff2"),
    url("./ProductSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Medium"), local("ProductSans-Medium"),
    url("./ProductSans-Medium.woff2") format("woff2"),
    url("./ProductSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Medium Italic"), local("ProductSans-MediumItalic"),
    url("./ProductSans-MediumItalic.woff2") format("woff2"),
    url("./ProductSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Thin"), local("ProductSans-Thin"),
    url("./ProductSans-Thin.woff2") format("woff2"),
    url("./ProductSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans"), local("ProductSans-Regular"),
    url("./ProductSans-Regular.woff2") format("woff2"),
    url("./ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Thin Italic"), local("ProductSans-ThinItalic"),
    url("./ProductSans-ThinItalic.woff2") format("woff2"),
    url("./ProductSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
